<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />

    <target name="log_file" xsi:type="File"
      layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message} ${exception}"
      fileName="${basedir}/logs/${machinename}-${windows-identity:userName=true:domain=false}/log.txt"
      keepFileOpen="false"
      encoding="iso-8859-2"
      archiveEvery="Day"
      archiveFileName="${basedir}/logs/log_archive.{#}.txt"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="false" />

    <target name="scheduleOutput" xsi:type="File"
      layout="${longdate} -- ${message}"
      fileName="${basedir}/logs/${machinename}-${windows-identity:userName=true:domain=false}/schedule.txt"
      keepFileOpen="false"
      encoding="iso-8859-2"
      archiveEvery="Day"
      archiveFileName="${basedir}/logs/log_archive.{#}.txt"
      archiveNumbering="Rolling"
      maxArchiveFiles="7"
      concurrentWrites="false" />

    <target name="log_colored_console" xsi:type="ColoredConsole"
      layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${logger} ${message} ${exception}"
      useDefaultRowHighlightingRules="true"
      errorStream="false">
    </target>

    <target xsi:type="NLogViewer" name="log2consoleApp" address="udp://127.0.0.1:9999" includeMdc="true" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="log_colored_console" />
    <logger name="*" minlevel="Trace" writeTo="log_file" />
<!--   <logger name="*" minlevel="Info"  writeTo="log_file" /> -->
<!--   <logger name="*" minlevel="Trace" writeTo="log2consoleApp" /> -->
    <logger name="Reporter.Nlog.*" minlevel="Info" writeTo="scheduleOutput" />
    
  </rules>
</nlog>